@import 'tailwindcss';

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {

  /* iconify patch */
  svg {
    display: inline;
  }

  h1,
  h2 {
    text-wrap: 'text-balance';
  }

  h1 {
    @apply text-center;
  }
}

/* 在全屏状态下隐藏元素 */
/* .nav:-webkit-full-screen {
  display: none !important;
}

.nav:-moz-full-screen {
  display: none !important;
}

.nav:full-screen {
  display: none !important;
} */

/* a {
  text-decoration: underline;
} */

@keyframes comeInOut {
  0% {
    transform: scale(0) rotate(0deg);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0) rotate(180deg);
  }
}

::-webkit-scrollbar {
  display: none;
}

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply decoration-[0.1em] no-underline underline-offset-4 transition-all decoration-neutral-400 dark:decoration-neutral-600;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover>.anchor {
  @apply visible;
}

.task-list-item {
  list-style: none !important;
}

table {
  table-layout: fixed !important;
}

table svg {
  margin-right: 0.2em;
}

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

.animate-meteor {
  animation: meteor 5s linear infinite;
}

pre {
  padding: 0 !important
}